.info{
    color: white;
    position: relative;
    &::before{
        content: "";
        width: 1920px;
        height: 875px;
        top: -110px;
        left: calc(50% - 950px);
        z-index: -1;
        position: absolute;
        background-image: url(/man\ in\ bike.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position:center;
    }
    margin-bottom: 82px;
}
.info_inner{
    padding-top: 80px;
    padding-bottom: 236px;
}
.info_title{
    font-size: 84px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 48px;
}
.info_text{
    font-size: 18px;
    width: 645px;
    margin-bottom: 56px;
}
.info_link{
    text-decoration: none;
    color: white;
    padding: 16px 45.5px;
    border-radius: 10px;
    background-color: #F57520;
}