.info__inner{
    width: 679px;
    height: 454px;
}

.info__h1{
    width: 679px;
    height: 227px;      
    list-style: none;   
    color: black;
    font-size: 89px;
}

.info{
    background-image: url("./1.png");
    background-repeat: no-repeat;
    width: 1920px;
    height: 875px;
}

.info__p{
    width: 645px ;
    font-size: 19px;
}

.info__link{
    list-style: none;
    text-decoration: none;
    background-color: orange;
    color: black;
}